@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use "../../styles/partials/variables" as *;
@use "../../styles//partials//colors" as *;

.projects {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem 2rem;

    @include tablet {
        padding: 5rem 2rem;
    }

    &__title {
        font-size: 2.5rem;
        color: $title;
    }

    &__subtitle {
        font-size: 1rem;
        color: $text;

        @include tablet {
            margin-bottom: 3rem;
        }

    }

    &__tablet-aligner {
        max-width: 1280px;
        @include tablet {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        background-color: $container;
        width: 300px;
        height: 870px;
        border-radius: 2rem;
        margin: 2rem auto;
        border: 1px solid rgba(0, 0, 0, 0.15);

        @include tablet {
            width: 700px;
            margin: 0 auto 3rem;
            flex-direction: row;
            height: 540px;
            padding: 1rem;
            position: relative;
        }

        &-top {
            object-fit: contain;
            border-radius: 2rem 2rem 0 0;
            width: 100%;

            @include tablet {
                border-radius: 2rem;
                width: 50%;
                aspect-ratio: 4/3;
            }
        }

        &-bottom {
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 1rem;

            @include tablet {
                width: 50%;
                // margin: 150px 0 150px;
            }
        }

        &-title {
            font-size: 2rem;
            color: $title;
            margin: 0;
            
            @include tablet {
                position: absolute;
                width: 300px;
                text-align: center;
                top: 1rem;
                left: 50%;
                transform: translateX(-50%);
            }
        }

        &-text {
            width: 100%;
            font-size: 1rem;
            color: $text;
        }

        &-button {
            text-decoration: none;
            color: $container;
            background-color: #0072b1;
            padding: 0.5rem 1rem;
            margin: 1rem;
            border-radius: 2rem;

            @include tablet {
                position: absolute;
                top: 4.5rem;
                left: 50%;
                transform: translateX(-50%);
                margin: 0;
            }

            &:hover {
                background-color: $title;
            }
        }

        &-tech-stack {
            margin: 1rem 0 0;
            padding: 0;
            width: 100%;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            list-style: none;

            @include tablet {
                position: absolute;
                bottom: 1rem;
                left: 50%;
                transform: translateX(-50%);
                justify-content: center;
            }

            li {
                padding: 0.5rem 0.75rem;
                background-color: $body;
                border-radius: 1rem;
                margin: 0 0.5rem 0.5rem;
            }
        }
    }
}