@use "../../styles/partials/fonts" as *;
@use "../../styles/partials/mixins" as *;
@use "../../styles/partials/variables" as *;
@use "../../styles//partials//colors" as *;

.projects {
  margin: 0 auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3rem 2rem;

  @include tablet {
    padding: 5rem 2rem;
  }

  &__title {
    font-size: 2.5rem;
    color: $title;
  }

  &__subtitle {
    font-size: 1rem;
    color: $text;

    @include tablet {
      margin-bottom: 3rem;
    }
  }

  &__tablet-aligner {
    max-width: 1280px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: $container;
    width: 300px;
    border-radius: 2rem;
    margin: 2rem auto;
    border: 1px solid rgba(0, 0, 0, 0.15);

    @include tablet {
      width: 700px;
      margin: 0 auto 3rem;
      flex-direction: row;
      height: 475px;
      padding: 1rem;
      position: relative;
    }

    @include desktop {
      background-color: $body;
      border: none;
      width: 1080px;
      justify-content: space-between;
      margin: 0;
    }

    &-top {
      object-fit: contain;
      border-radius: 2rem 2rem 0 0;
      border: 1px solid rgba(0, 0, 0, 0.15);
      width: 100%;

      @include tablet {
        border-radius: 2rem;
        width: 50%;
        aspect-ratio: 4/3;
        margin-top: 2rem;
      }

      @include desktop {
        margin: 0;
      }
    }

    &-bottom {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 1rem;

      @include tablet {
        width: 45%;
        margin-top: 2rem;
      }

      @include desktop {
        margin: 0;
      }
    }

    &-title {
      font-size: 2rem;
      color: $title;
      margin: 0;

      @include tablet {
        position: absolute;
        width: 300px;
        text-align: center;
        top: 1rem;
        left: 50%;
        transform: translateX(-50%);
      }

      @include desktop {
        position: relative;
        width: 100%;
        top: 0;
        left: 0;
        transform: none;
      }
    }

    &-text {
      width: 100%;
      font-size: 1rem;
      color: $title;
      margin: 1rem 0;
    }

    &-button {
      text-decoration: none;
      color: $container;
      background-color: #0072b1;
      padding: 0.5rem 1rem;
      margin: 0.5rem;
      border-radius: 2rem;

      @include tablet {
        position: absolute;
        top: 4.5rem;
        left: 50%;
        transform: translateX(-50%);
        margin: 0;
      }

      @include desktop {
        position: relative;
        top: 0;
        left: 0;
        transform: none;
        margin-bottom: 1rem;
      }

      &:hover {
        background-color: $title;
      }

      &--first {
        @extend .projects__card-button;
        @include tablet {
          transform: translateX(-110%);
        }
        @include desktop {
          position: relative;
          top: 0;
          left: 0;
          transform: none;
        }
      }

      &--second {
        @extend .projects__card-button;
        @include tablet {
          transform: translateX(10%);
        }
      }

      &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        @include tablet {
          visibility: none;
        }

        @include desktop {
          flex-direction: row;
          width: 300px;
          justify-content: space-around;
        }
      }
    }

    &-tech-stack {
      margin: 2rem 0 0;
      padding: 0;
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;

      @include tablet {
        position: absolute;
        bottom: 1.5rem;
        left: 50%;
        transform: translateX(-50%);
        justify-content: center;
      }

      @include desktop {
        position: relative;
      }

      img {
        width: 36px;
        margin: 0.5rem;
      }
    }
  }
}
