@use '../../styles/partials/fonts' as *;
@use '../../styles/partials/mixins' as *;
@use "../../styles/partials/variables" as *;
@use "../../styles//partials//colors" as *;

.contact {
    margin: 3rem auto;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 2rem;

    @include tablet {
        height: 700px;
    }

    &__title {
        font-size: 2.5rem;
        color: $title;
    }

    &__tablet-aligner {
        @include tablet {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 70%;
        }
    }
}